<footer class="bg-info">
    <div class="row">
      <div class="col-12 py-4 text-center shadow-lg">
        <h4 class="text-light text-center py-4 col-12">
          Siguenos en nuestras redes
        </h4>
        <a href="https://es-la.facebook.com/" class="col">
            <fa-icon [icon]="faFacebook"></fa-icon>       
        </a>
        <a href="https://twitter.com/?lang=es" class="col">
            <fa-icon [icon]="faTwitter"></fa-icon>       
        </a>
        <a href="https://www.instagram.com/?hl=es-la" class="col">
            <fa-icon [icon]="faInstagram"></fa-icon>          
        </a>
        <a href="https://www.youtube.com/channel/UCBR8-60-B28hp2BmDPdntcQ" class="col">
            <fa-icon [icon]="faYoutube"></fa-icon>       
        </a>
      </div>
      <h4 class="text-light text-center py-4 col-12">
        &#174; Bryan Moreno Posada
      </h4>
    </div>
  </footer>
