<section class="row container my-4">
    <div class="col-6">
        <app-image [smartphone]='true'></app-image>
    </div>
    <div class="col-6 d-flex flex-column justify-content-center">
        <h1>Se envio un codigo a tu telefono</h1>
        <p>
            Hemos enviado un mensaje de texto al numero de telefono registrado con tu cuenta. Si no lo recibes pasados 5 minutos, por favor intenta nuevamente
        </p>

        <app-feedback [injectClass]="'text-info'" [message]="feedback"></app-feedback>
        
        <form [formGroup]="form2FA" (ngSubmit)="verifyCode()">
            <div class="form-group">
                <input formControlName="code" placeholder="Introduce el codigo" class="form-control" type="number">
                <input type="hidden" formControlName="requestId">
            </div>
            <div class="d-flex justify-content-between">
                <button *ngIf='!validating' class="btn btn-success">
                    Validar Codigo
                </button>
                <app-loading-button *ngIf='validating' [message]="'Validando'"></app-loading-button>
                <a class="btn btn-info" (click)='resendCode()' *ngIf='!resending'>
                    Reenviar Codigo
                </a>
                <app-loading-button *ngIf='resending' [message]="'Reenviando codigo'"></app-loading-button>
            </div>           
        </form>
    </div>
    

</section>