<section class="d-flex justify-content-center align-items-center">
    <form (submit)="onSubmit(resetPassword)" class="bg-white p-4" #resetPassword='ngForm' (change)="errorMessage=''">
        <h1 class="text-center">
            {{ formHeaderText() }}           
        </h1>
        <hr>
        <div class="form-group" *ngIf='mode.length'>
            <label for="old_password">
                Clave Actual
            </label>
            <input type="password" name="oldPassword" id="old_password" class="form-control" ngModel required>
        </div>
        <div class="form-group">
            <label for="new_password">
                Nueva Clave
            </label>
            <input type="password" name="newPassword" id="new_password" class="form-control" ngModel required>
        </div>
        <div class="form-group">
            <label for="confirm">
                Confirmar Clave
            </label>
            <input type="password" name="confirmPassword" id="confirm" class="form-control" ngModel required>
        </div>
        <div class="form-group" *ngIf='mode.length'>
            <p class="lead">
                Hemos enviado un codigo al numero de telefono asociado con esta cuenta. Por favor, introducelo a continuacion
            </p>
            <label for="2fa_code">
                Codigo
            </label>
            <input type="text" name="code" id="2fa_code" class="form-control" ngModel required>
        </div>

        <app-feedback [message]="errorMessage" [injectClass]='"text-danger"'></app-feedback>
        
        <input type="hidden" name="requestId" class="form-control" ngModel>
        <button *ngIf='!isLoading' class="btn btn-primary">
            {{ formHeaderText() }}   
        </button>
        <app-loading-button *ngIf='isLoading' [message]="'Enviando...'"></app-loading-button>
    </form>


</section>
