section{
    background: linear-gradient(rgb(76, 74, 74),rgba(76, 74, 74, 0.2)), url("../../../../assets/images/puppies-kittens.jpg");
    background-size: cover;
    background-position: center;    
    height:80vh;
}

form{
    width: 90%;
    max-width: 600px; 
    border-radius: 15px;   
}