<section id="login">
    
    <h4 class="text-danger bg-white p-3" *ngIf='authService.loginFailed'>
        {{ authService.loginFailed}}
    </h4>

    <form class="p-4" (submit)='onSubmit(loginForm)' #loginForm='ngForm'>
        <div class="text-center">
            <h1>Inicia Sesion</h1>
            <hr>
        </div>
        <div class="form-group row">
            <label for="username" class="col">
                Usuario:
            </label>
            <input type="text" placeholder="Nombre de usuario" id="username" name="username" class="form-control col" required ngModel>
        </div>
        <div class="form-group row">
            <label for="password" class="col">
                Contraseña:
            </label>
            <input type="password" placeholder="*********" id="password" name="password" class="form-control col" required ngModel>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <button *ngIf='!isLoading' class="btn btn-lg btn-primary">
                Iniciar Sesion
            </button>
            <a routerLink='./resetPassword'>
                Reestablecer contraseña
            </a>
        </div>        
        <app-loading-button *ngIf='isLoading' [message]='"Iniciando sesion"'></app-loading-button>      
    </form>
    
</section>