<app-loading *ngIf='isLoading'></app-loading >
    
<div *ngIf='!isLoading' class="profile raised--noHover" @fade>   
    <div *ngIf='isLoggedIn();else login'>
        <div class="row">
            <div class="d-none d-md-block col-md-2 raised--rightOnly">
                <a class="h2 w-100 d-block py-3 text-center text-white bg-info" routerLink="usuario">
                    Hola {{ userInfo.firstName }} !
                </a>
                <ul class="list-group text-center list-group-flush">
                    <li class="list-group-item">
                        <a class="text-primary" routerLink="editar">
                            Actualizar Perfil
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="text-primary" routerLink="encuesta/loggedInUser">
                            Encuesta
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="text-primary" routerLink='anuncios/mis_anuncios'>
                            Mis Anuncios
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="text-primary" routerLink="mensajes/mis_mensajes">
                            Mis Mensajes
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="text-primary" routerLink="mascotas/mis_mascotas">
                            Mis Mascotas
                        </a>
                    </li>
                    <li class="list-group-item" *ngIf='userInfo.admin' routerLink="admin/pannel">
                        <a class="text-primary">
                            Panel de Administrador
                        </a>
                    </li>
                </ul>          
                
            </div>
            <div class="dropdown col-sm-12 d-block d-md-none">
                <button class="btn btn-info w-100 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="h2">
                        Hola {{ userInfo.firstName }} !
                    </span>                    
                </button>
                <div class="dropdown-menu w-100 p-3" aria-labelledby="dropdownMenuButton">
                    <a class="text-primary d-block" routerLink="editar">
                        Actualizar Perfil
                    </a>
                    <a class="text-primary d-block" routerLink="encuesta/loggedInUser">
                        Encuesta
                    </a>
                    <a class="text-primary d-block" routerLink='anuncios/mis_anuncios'>
                        Mis Anuncios
                    </a>
                    <a class="text-primary d-block" routerLink="mensajes/mis_mensajes">
                        Mis Mensajes
                    </a>
                    <a class="text-primary d-block" routerLink="mascotas/mis_mascotas">
                        Mis Mascotas
                    </a>
                    <a class="text-primary d-block" *ngIf='userInfo.admin' routerLink="admin/pannel">
                        Panel de Administrador
                    </a>                  
                </div>
              </div>
            
            <div class="col-sm-12 col-md-10" *ngIf="isLoggedIn()">                
                
               <router-outlet></router-outlet>
                
            </div>
        </div>
        <div *ngIf='showAnnouncement' class="announcement">
            <div class="card w-50">
                <div class="card-body">
                    <h3 class="card-title">
                        Parece que aun no has llenado la encuesta...
                    </h3>
                    <hr>
                    <p class="lead">
                        Ahorra tiempo y responde unas preguntas basicas sobre porque deseas adoptar una mascota. Asi, los anunciantes podran conocerte un poco mas cuando los contactes...
                    </p>
                    <p>
                        Puedes llenar la encuesta seleccionando la opcion "Encuesta" del menu o presionando el boton "Responder Ahora".
                    </p>
                    <button class="btn btn-info mr-3" (click)="dismiss()">
                        Recordar Mas tarde
                    </button>
                    <button class="btn btn-success" (click)="toSurveyPost()">
                        Responder Ahora
                    </button>
                </div>
            </div>
        </div>
    </div> 
    <ng-template #login>
        <h2>Debes iniciar sesion para poder ver esta seccion</h2>
        <app-login></app-login>
    </ng-template>   
</div>