.profile{
    width: 95%;
    min-height: 80vh;
    margin: 25px auto; 
    border:1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;   
}


.col-md-2{
    padding: 0%;
    min-height: 80vh;
}

div.col-md-10{
    max-height: 80vh;
    overflow-y: scroll;
}

.announcement{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(136, 133, 133, 0.603);
    display: flex;
    justify-content: center;
    align-items: center;
}
