<section class="py-5" @fade *ngIf='!loading'>
    <h1 *ngIf='!ad._id' class="text-warning text-center">
        No se pudo encontrar un anuncio con este ID. Por favor rectifica e intenta de nuevo
    </h1>
    <div *ngIf='ad._id' class="container">
        <div class="d-flex justify-content-between my-2">
            <h1>{{ ad.pet.name }}</h1>
            <button class="btn btn-outline-danger" *ngIf='!admin' (click)="onReport()">
                Reportar Abuso
            </button>
            <button class="btn btn-danger"  *ngIf='admin' class="btn btn-danger" (click)="deleteByAdmin(ad._id)">
                Eliminar por Admin
            </button>
        </div>
        <div class="row">
            <div class="col-sm">
                <p>
                    <span>
                        <strong>
                            Especie: 
                        </strong>
                    </span>
                    {{ ad.pet.species }}
                </p>
                <p>
                    <span>
                        <strong>
                            Raza: 
                        </strong>
                    </span>
                    {{ ad.pet.breed }}
                </p>
                <p>
                    <span>
                        <strong>
                            Genero: 
                        </strong>
                    </span>
                    {{ ad.pet.gender }}
                </p>
                <p>
                    <span>
                        <strong>
                            Fecha de nacimiento (MM-DD-AAAA): 
                        </strong>
                        <br>
                    </span>
                    {{ formatDOB() }}
                </p>
                <p>
                    <span>
                        <strong>
                            Esterelizado?: 
                        </strong>
                    </span>
                    {{ ad.pet.neutered }}
                </p>
                <p>
                    <span>
                        <strong>
                            Vacunado?: 
                        </strong>
                    </span>
                    {{ ad.pet.vaccinated }}
                </p>
                <p>
                    <span>
                        <strong>
                            Bio: 
                        </strong>
                    </span>
                    {{ ad.pet.bio }}
                </p>

                <app-message-post *ngIf='isLoggedIn() && !ownAd;else login' [pet]="ad.pet"></app-message-post>
                <ng-template #login>
                    <h3>
                        Mensajes:
                    </h3>
                    <p *ngIf='!ownAd'>             
                        <strong>
                            * Debes iniciar sesion para poder enviar mensajes *
                        </strong>
                    </p>
                    <p *ngIf='ownAd'>             
                        <strong>
                            * Tu publicaste este anuncio *
                        </strong>
                    </p>
                </ng-template>

            </div>        

            <div class="col-sm">
                <div *ngIf='ad.pet.pictures.length' id="carouselPet" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div *ngFor="let picture of ad.pet.pictures" class="carousel-item active">                            
                            <app-image [pictureId]="picture" [fullsize]="true"></app-image>
                        </div>                   
                    </div>
                </div>
                <div *ngIf='!ad.pet.pictures.length'>
                    <app-image></app-image>
                    <p>
                        <strong> No hay foto</strong>
                    </p>
                </div>
            </div>
            
        </div>
    </div>
    <div class="d-flex justify-content-around">
        <button class="btn btn-info" routerLink="../">
            Atras
        </button>
        <button *ngIf='admin' class="btn btn-info" routerLink="../../admin/pannel">
            Volver a los anuncios reportados
        </button> 
    </div>
      
</section>
<app-loading *ngIf='loading'></app-loading>

