<section @fade id="registro">
    
    <form class="text-primary p-4 my-5" (submit)='onSubmit()' [formGroup]='signUpForm' (change)="errorMessage = ''">
        <div class="text-center">
            <h1>Registrate</h1>
            <hr>
        </div>
        <div class="form-group row">
            <label for="username" class="col">
                Usuario:
            </label>
            <input type="text" placeholder="Nombre de usuario" id="username" required formControlName="username" class="form-control col">
        </div>
        <div class="form-group row">
            <label for="name" class="col">
                Nombre:
            </label>
            <input type="text" placeholder="Nombre" id="name" required formControlName="firstName" class="form-control col">
        </div>
        <div class="form-group row">
            <label for="lastname" class="col">
                Apellido:
            </label>
            <input type="text" placeholder="Apellido" id="lastname" required formControlName="lastName" class="form-control col">
        </div>
        <div class="form-group row">
            <label for="email" class="col">
                Email:
            </label>
            <input type="email" placeholder="me@example.com" id="email" required formControlName="email" class="form-control col">
        </div>
        
        <app-feedback [injectClass]="'small text-danger'" [message]="'El email es incorrecto'" *ngIf="signUpForm.get('email').hasError('email')"></app-feedback>
        
        <div class="form-group row">
            <label for="phone" class="col">
                Telefono:
            </label>
            <input type="number" placeholder="telefono" id="phone" required formControlName="phone" class="form-control col" pattern="[0-9]*">            
        </div>
        <div *ngIf="signUpForm.get('phone').value">
            <app-feedback [injectClass]="'text-danger'" [message]="'El numero de telefono debe tener exactamente 10 digitos'" *ngIf="signUpForm.get('phone').hasError('badLength')"></app-feedback>
            <app-feedback [injectClass]="'text-danger'" [message]="'El numero de telefono debe comenzar por 3'" *ngIf="signUpForm.get('phone').hasError('wrongPrefix')"></app-feedback>
        </div>
           
        <div class="form-group row">
            <label for="password" class="col">
                Contraseña:
            </label>
            <input type="password" placeholder="*********" id="password" required formControlName="password" class="form-control col">
        </div>
       <app-feedback *ngIf="signUpForm.get('password').errors?.minlength" [injectClass]="'text-danger'" [message]="'La contraseña debe tener mínimo 6 caracteres'"></app-feedback> 
       <div class="form-group row">
            <label for="repeat" class="col">
                Repetir contraseña:
            </label>
            <input type="password" formControlName='passwordRepeat' required placeholder="*********"  id="repeat" class="form-control col">
        </div>
        <app-feedback *ngIf="signUpForm.hasError('passwordMatch')" [injectClass]="'text-danger'" [message]="'las contraseñas no coinciden. Por favor verifica e intenta de nuevo'"></app-feedback>
        <app-feedback [injectClass]="'text-danger lead'" [message]="errorMessage"></app-feedback>
        
        <button *ngIf='!isLoading' class="btn btn-lg btn-primary">
            Crear cuenta
        </button>
        
        <app-loading-button *ngIf='isLoading' [message]='"Creando cuenta"'></app-loading-button>      
        
    </form>       

</section>