<section id="registro">
    <form class="text-primary p-4 my-5" (submit)='onSignUp(signUpForm)' #signUpForm='ngForm'>
        <div class="text-center">
            <h1>Registrate</h1>
            <hr>
        </div>
        <div class="form-group row">
            <label for="username" class="col">
                Usuario:
            </label>
            <input type="text" placeholder="Nombre de usuario" id="username" name="username" class="form-control col" required ngModel>
        </div>
        <div class="form-group row">
            <label for="name" class="col">
                Nombre:
            </label>
            <input type="text" placeholder="Nombre" id="name" name="firstName" class="form-control col" required ngModel>
        </div>
        <div class="form-group row">
            <label for="lastname" class="col">
                Apellido:
            </label>
            <input type="text" placeholder="Apellido" id="lastname" name="lastName" class="form-control col" required ngModel>
        </div>
        <div class="form-group row">
            <label for="email" class="col">
                Email:
            </label>
            <input type="email" placeholder="me@example.com" id="email" name="email" class="form-control col" required ngModel>
        </div>
        <div class="form-group row">
            <label for="phone" class="col">
                Telefono:
            </label>
            <input type="number" placeholder="telefono" id="phone" name="phone" class="form-control col" required ngModel>
        </div>
        <div class="form-group row">
            <label for="password" class="col">
                Contraseña:
            </label>
            <input type="password" placeholder="*********" id="password" name="password" class="form-control col" required ngModel>
        </div>
        <div class="form-group row">
            <label for="repeat" class="col">
                Repetir contraseña:
            </label>
            <input type="password" name='passwordRepeat' placeholder="*********"  id="repeat" class="form-control col" required ngModel>
        </div>
        <p class="text-danger" *ngIf='passwordMisMatch'>
            El texto ingresado no coincide con la contraseña. Por favor verifica e intenta de nuevo
        </p>            
            <button *ngIf='!isLoading' class="btn btn-lg btn-primary">
                Crear cuenta
            </button>
            <app-loading-button *ngIf='isLoading' [message]='"Creando cuenta"'></app-loading-button>      
        
    </form>       

</section>