<section class="row container-fluid my-4">
    <div class="col text-center">
        <img src="../../../assets/images/email.jpg" alt="email icon" class="img-fluid">
    </div>
    <div class="col d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-primary">El cartero llego!!</h1>
        <p >
            <strong>
                Por favor inicia sesion en tu correo y dale click al link que hemos enviado para terminar el proceso de registro y validar tu cuenta de correo.
            </strong>
        </p> 
        <p>
            <strong>
                No olvides revisar tu carpeta de correo no deseado. El link es valido por una hora.
            </strong>
        </p>       
    </div> 
</section>